# Python ‘import’ statement sorter (isort) configuration for this code base.
# Documentation: <URL:https://github.com/timothycrosley/isort/wiki/isort-Settings>.

[settings]

# Maximum length (columns) for a line of program code.
line_length = 80

# Number of blank lines to separate imports from following statements.
lines_after_imports = 2

# Filenames that ‘isort’ should not process.
skip =

# Names of sections that group import statements.
# The order in this sequence specifies the order the sections should appear.
sections =
    FUTURE
    STDLIB
    FRAMEWORK
    THIRDPARTY
    FIRSTPARTY
    LOCALFOLDER

# Name of section for any import statement of a package not known to ‘isort’.
default_section = THIRDPARTY

# Package names that are known for the ‘FRAMEWORK’ section.
known_framework =

# Package names that are known for the ‘THIRDPARTY’ section.
known_third_party =

# Package names that are known for the ‘FIRSTPARTY’ section.
known_first_party = dput

# Text for indentation of continuation lines.
indent = '    '

# The multi-line import statement style (integer code).
# See the ‘isort’ documentation for the meaning of each code.
multi_line_output = 3

# Sort imports by length (not alphanumeric)?
length_sort = false

# Add a trailing comma on the list of ‘from’ import names?
include_trailing_comma = true

# For continuation lines, wrap lines in parenthesis?
use_parentheses = true

# Sort ‘from … import’ statements before ‘import’ statements?
# This is not the ideal behaviour; see the issue reported at
# <URL:https://github.com/timothycrosley/isort/issues/609>.
from_first = false

# Force multiple names imported with ‘from’ to be separate statements?
force_single_line = false

# Force ‘from’ imports to be grid wrapped regardless of line length?
force_grid_wrap = true

# Format import statements as a visually-balanced grid?
balanced_wrapping = false

# Combine an ‘import … as …’ onto the same line?
combine_as_imports = true